<%= render partial: "application/bannerdrawer", locals: {page_name: @page_name} %>
<%= render "application/main" %>

<div class="form_box">
  <% if session['login_error'] %>
    <p><%= Incorrect Email or Password %></p>
  <% end %>

  <%= form_for @user do |f| %>
    <p><%= f.text_field :email, placeholder: 'email' %></p>
    <p><%= f.text_field :password, placeholder: 'password' %></p>
    <p><%= f.text_field "password_confirmation", placeholder: 'Password Confirmation' %></p>
    <p><%= f.submit value: 'Create Account' %></p>
  <% end %>

