<%= render partial: "application/bannerdrawer", locals: {page_name: @page_name} %>
<%= render "application/main" %>

<div class="form_box">
  <% if @user.errors.any? %>
    <ul>
      <% @user.errors.full_messages.each do |error_message| %>
        <li><%= error_message %></li>
      <% end %>
    </ul>
  <% end %>

  <%= form_for @user do |f| %>
    <p><%= f.text_field :email, placeholder: 'Email' %></p>
    <p><%= f.text_field :password, placeholder: 'Password' %></p>
    <p><%= f.submit value: 'Create Account' %></p>
  <% end %>
</div>
