<% if session['login_error'] %>
  <p><%= Incorrect Email or Password %></p>
<% end %>

<%= form_for @user do |f| %>
  <%= f.text_field :email, placeholder: 'email' %>
  <%= f.text_field :password, placeholder: 'password' %>
  <%= f.text_field "password_confirmation", placeholder: 'Password Confirmation' %>
  <%= f.submit value: 'Create Account' %>
<% end %>
