<div class="list-left gray-box">
  <span class="vertical-center">
    <%= form_tag("/sections/#{ section.id }", method: :delete, class: 'inline') do %>
      <%= submit_tag 'Delete' %>
    <% end %>
    <%= form_tag(edit_section_path( section ), method: :get, class: 'inline') do %>
      <%= submit_tag 'Rename' %>
    <% end %>
  </span>

  <span class="mdl-typography--display-2 inline">
    <%= link_to "#{ section.title }", section_subscriptions_path( section ) %>
  </span>
</div>


<!-- I don't know why this div isn't closed, but it makes the styling work. When the div closes the styling breaks fantastically -->
<div class="pd-2">
  <p>
    <%= form_for @subscription, url: "/sections/#{section.id}/subscriptions", method: 'POST' do |f| %>
      <%= f.text_field :name, class: 'list-left w-50', placeholder: 'Subscription Name' %>
      <%= f.text_field :feed, class: 'list-left w-50', placeholder: 'RSS feed' %>
      <%= f.submit value: 'Add Feed', class: 'inline fl-r' %>
     <% end %>
  </p>
