<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-col-phone round mdl-cell--8-col center-box pd-4">
    <p>
      <%= form_for @section, method: 'POST' do |f| %>
        <%= f.text_field :title, class: 'list-left w-50', placeholder: 'Section name' %>
        <%= f.submit value: 'Add Section', class: 'inline fl-r' %>
      <% end %>
    </p>

    <% @sections.each do |section| %>
      <%= render partial: 'sections/section', locals: { section: section } %>

      <% section.subscriptions.each do |subscription| %>
        <%= render partial: 'subscriptions/subscription', locals: { section: section, subscription: subscription } %>
      <% end %>
      </div>
    <% end %>
  </div>
</div>
