<div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone round image" style="background-image: url('<%= story['preferred'].img_link %>');">
  <%= render partial: 'more_button', locals: {story: story} %>

  <div class="photo-overlay">
    <span class="mdl-typography--display-2 mdl-color-text--white"><%= link_to story.preferred_story.title, story.preferred_story.url %></span><br>
    <span class="mdl-typography--headline mdl-color-text--white"><%= story.preferred_story.summary %></span><br>
    <span class="mdl-typography--headline mdl-color-text--grey-500"><%= story.preferred_story.news_source(story.section_id) %></span>

    <%= render partial: 'related', locals: {story: story} %>
  </div>
</div>
