<div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone round image" style="background-image: url('<%= story['preferred'].img_link %>');">
  <%= render partial: 'more_button', locals: {story: story} %>

  <div class="photo-overlay">
    <span class="mdl-typography--display-2 mdl-color-text--white"><%= link_to story["preferred"].title, story["preferred"].url %></span><br>
    <span class="mdl-typography--headline mdl-color-text--white"><%= story["preferred"].summary %></span><br>
    <span class="mdl-typography--headline mdl-color-text--grey-500"><%= story["preferred"].subscription.name %></span>

    <%= render partial: 'related', locals: {story: story} %>
  </div>
</div>
