<div class="mdl-cell mdl-cell--8-col-phone round mdl-cell--8-col">
  <%= image_tag(story.preferred_story.img_link, width: '200', class: "med_box_image fl-r") %>

  <button id="<%= story.preferred_story.id %>" class="mdl-button mdl-js-button mdl-button--icon mdl-color--orange-300">
    <i class="material-icons">more_vert</i>
  </button>

  <span class="mdl-typography--title"><%= link_to story.preferred_story.title, story.preferred_story.url %></span><br>

  <span class="mdl-typography--body-1"><%= story.preferred_story.summary %></span><br>

  <span class="mdl-typography--body-1 mdl-color-text--grey-500"><%= story.preferred_story.news_source(story.section_id) %></span>

  <ul for="<%= story.preferred_story.id %>" class="mdl-menu mdl-menu--bottom-right mdl-js-menu">
    <p class="mdl-menu__item">Related:</p>
    <% story.other_sources.each do |related| %>
      <li class="mdl-menu__item"><%= link_to related.title, related.url %> <span class="mdl-color-text--grey-500">--<%= related.news_source(story.section_id) %></span></li>
    <% end %>
  </ul>
</div>
