<div class="mdl-cell mdl-cell--8-col-phone round mdl-cell--8-col">
  <%= image_tag(story['preferred'].img_link, width: '200', class: "med_box_image fl-r") %>

  <%= render partial: 'more_button', locals: {story: story} %>

  <span class="mdl-typography--title"><%= link_to story["preferred"].title, story["preferred"].url %></span><br>

  <span class="mdl-typography--body-1"><%= story["preferred"].summary %></span><br>

  <span class="mdl-typography--body-1 mdl-color-text--grey-500"><%= story["preferred"].subscription.name %></span>

  <%= render partial: 'related', locals: {story: story} %>
</div>
