<div class="mdl-cell mdl-cell--4-col-phone round mdl-cell--8-col <%= 'talked-about' if story.other_sources.count > 1 %>">
	<%= image_tag(story.preferred_story.img_link, width: '200', class: "med_box_image fl-r") %>

  <%= render partial: "application/more_button", locals: {story: story} %>


  <%= render partial: "application/more_button", locals: {story: story} %>

  <span class="mdl-typography--title"><%= link_to story.preferred_story.title, story.preferred_story.url, target: "_blank" %></span><br>

  <span class="mdl-typography--body-1"><%= story.preferred_story.summary %></span><br>

  <span class="mdl-typography--body-1 mdl-color-text--grey-500"><%= story.preferred_story.news_source(story.section_id) %></span>

  <%= render partial: "application/save_button", locals: {story: story} %>

  <%= render partial: "application/related", locals: {story: story} %>
</div>


