<div class="masthead">
  <p class="logo">
    <%= image_tag("eelogo.jpg", alt: "The Evening Edition") %>
  </p>

  <p>
    <span class="mdl-typography--title"><%= Time.now.strftime("For %B %d, %Y") %></span><br>
    <span class="mdl-typography--caption">Updated each day at 5 pm Chicago local time</span>
  </p>

  <div class="login mdl-color--orange-900">
    <span class="mdl-typography--caption">
      <% if user_logged_in? %>
        Personalized for <%= current_user.email %> / <%= link_to "Log out", users_logout_path, method: :delete %>
      <% else %>
        Members receive personalized subscriptions, sections, and delivery times.
        <%= link_to "Create a free account now.", users_new_path, id: 'sign-up'%><br>
        <%= render 'login' %>
      <% end %>
    </span>
  </div>
</div>
