<!DOCTYPE html>
<html lang="en">
<head>
  <title>Evening Edition</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'evening-edition', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/icon?family=Material+Icons', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Lusitana:400,700', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "application/masthead" %>
  <%= render partial: "application/drawerbanner", locals: {page_name: @page_name} %>
    <main class="mdl-layout__content">
      <div class="page-content mdl-color--blue-grey">
        <%= yield %>
      </div>
    </main>
  </div>
</div>

</body>
</html>
