<!DOCTYPE html>
<html lang="en">
<head>
  <title>Evening Edition</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'evening-edition', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/icon?family=Material+Icons', media: 'all', 'data-turbolinks-track' => false %>
  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Lusitana:400,700', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body class="mdl-color--blue-grey">

<%= render "application/masthead" %>

<% if user_logged_in? %>
  <%= render partial: "application/bannerdrawer", locals: {page_name: @page_name, sections: @sections} %>
<% else %>
  <%= render partial: "application/bannernodrawer", locals: {page_name: @page_name} %>
<% end %>

<main class="mdl-layout__content mdl-color--blue-grey">
  <div class="page-content mdl-color--blue-grey">

        <%= yield %>
  </div>
</main>



</body>
</html>
